h1{
    font-size: 28px;
    color: chocolate;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: chartreuse;
}

#job{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 2px;
}

.summary{
    font-size: 16px;
    line-height: 20px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    padding: 2px 10px;
}

.ul{
    margin: 0px;
}